header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0px;
  height: 70px;
}

#logo {
  width: 268px;
  height: 33px;
  margin-top: 10px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: -5px;
}

nav a {
  text-decoration: none;
  color: #ababab;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400px;
}

nav a:hover {
  color: #00b39b;
}

.mainMenu {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.mainMenuItems {
  margin-left: 20px;
  color: #ababab;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400px;
  line-height: 30px;
}

.subMenu {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
  margin-left: -90px;
  box-shadow: #ababab 1px 1px 3px 1px;
}

.mainMenuItems:hover .subMenu {
  display: block;
}

.mainMenuItems:hover {
  color: #00b39b;
}

.subMenuItems {
  color: #ababab;
  margin-left: -30px;
  margin-top: 10px;
}

.subMenuItems:hover {
  color: #00b39b;
  background-color: #f6f8f8;
}

.Title {
  text-align: center;
  margin-top: 90px;
}

.logoTitle {
  width: 35px;
  height: 34px;
}

.Title h1 {
  color: rgb(0, 179, 155);
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 44.2px;
}

.par {
  display: flex;
  justify-content: space-around;
}

.par p {
  width: 477.5px;
  height: 112px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(116, 116, 116);
}

#p1 {
  margin-left: 250px;
}

#p2 {
  margin-right: 250px;
}

.box {
  height: 400px;
  width: 70%;
  margin-top: 100px;
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  justify-content: space-around;
}

#green_box {
  height: 345px;
  width: 311.625px;
  background-color: #00ccb1;
  border-radius: 10px;
}

#green_box:hover {
  background-color: #03dbbe;
}

#blue_box {
  background-color: #3d83df;
  height: 345px;
  width: 311.625px;
  border-radius: 10px;
}

#blue_box:hover {
  background-color: #408df1;
}

#gray_box {
  background-color: #1b2734;
  height: 345px;
  width: 311.625px;
  border-radius: 10px;
}

#gray_box:hover {
  background-color: #2f4358;
}

.box img {
  margin-top: 30px;
  margin-left: 20px;
}

#green_box h1,
#blue_box h1,
#gray_box h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 26px;
  letter-spacing: -0.3px;
  line-height: 33.8px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-bottom: -15px;
  margin-top: 2px;
}
#green_box h2,
#blue_box h2,
#gray_box h2 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 33.8px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.box select {
  margin-top: 70px;
  margin-left: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: inherit;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.box option {
  background-color: white;
  color: black;
}

#country_2 {
  margin-top: 70px;
}

#specialists_1 {
  margin-top: 20px;
}

#specialists_2 {
  margin-top: 20px;
}

.enterprises {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.enterprises h1 {
  height: 101.4px;
  width: 230px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 33.8px;
  color: rgb(0, 179, 155);
  margin-left: 150px;
}

.enterprises ul li {
  list-style: none;
}

.logo_partners {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  height: 107.6px;
  width: 620px;
  margin-right: 150px;
  margin-left: -100px;
}

.statistics {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  background-color: #e5faf8;
  overflow: hidden;
}

#intro {
  margin-top: 20px;
}

#intro h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 44.2px;
  letter-spacing: -0.3px;
  color: #00b39b;
  height: 88.4px;
  width: 477.5px;
  margin-left: 150px;
}

#intro p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
  height: 48px;
  width: 415px;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 150px;
}

#intro img {
  height: 450px;
  width: 520px;
  margin-left: -100px;
  margin-top: 30px;
  margin-left: 50px;
}

#illustrations {
  margin-top: 20px;
  margin-right: 200px;
  height: 560px;
  width: 497.5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box_stat {
  height: 250px;
  width: 228.75px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.box_stat img {
  height: 40px;
  width: 35px;
  margin-top: 20px;
}

.box_stat h3 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 31.2px;
  height: 62.4px;
  width: 198.75px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #00b39b;
}

.box_stat p {
  margin-left: 15px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 16.9px;
  height: 67.6px;
  width: 198.75px;
  color: #747474;
  text-align: center;
}

#first_box_stat {
  margin-top: 25px;
}

#last_box_stat {
  margin-top: -25px;
}

.office {
  height: 1400px;
  width: 1015px;
  margin: 88px 252px 10px 252px;
  background-color: white;
}

.office h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 39px;
  color: #00b39b;
  text-align: center;
}

.office p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
  text-align: center;
}

#office_locations {
  width: inherit;
  height: 1150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 50px;
}
.office_location_box {
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: white;
  color: #747474;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}

.office_location_box:hover {
  box-shadow: #ababab 1px 1px 3px 1px;
}

.office_location_box img {
  height: 278.188px;
  width: 309px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
}

.country_name {
  margin-left: 10px;
}

.office_location_box button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.4px;
  height: 30px;
  width: 103.662px;
  border-radius: 5px;
  border: none;
  margin-left: 120px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #3d83df;
}

.office_location_box button:hover {
  background-color: #1662c6;
}

#before_last_country_box {
  margin-left: -5px;
}

#last_country_box {
  margin-right: 320px;
}

#last_country_box button {
  margin-left: 90px;
}

.join {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  text-align: center;
}

.join h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 39px;
  color: #333333;
}

.join button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 12px;
  background-color: #3d83df;
  color: white;
  height: 40px;
  width: 210.4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join button:hover {
  background-color: #1662c6;
}

footer {
  background-color: white;
  width: 100%;
  bottom: 0px;
  height: 123px;
  margin-top: 70px;
  border-top: 1px solid #eef2f2;
  text-align: center;
}

footer p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #ababab;
}

#footer_p1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(61, 131, 223);
}

footer a:hover {
    text-decoration: underline;
}